

.header {
	background-color: rgb(46, 94, 225);
	display: block;
	padding: 40px;
	color: yellowgreen;
}

.header__titel {
	font-size: 30px;
	font-weight: 900;
	text-align: center;
}


.beach {
	background: url("../img/bg.png") 0 0 no-repeat;
	height: 1000px;
}

.page__beach {
	margin-bottom: 200px;
}
.beach__container {}

.beach__image {
position: relative;
top: 500px;
left: 300px;
z-index: 1;
}

.car__image {
	position: relative;
	z-index: 2;
	left: 700px;
	bottom: 60px;
}


.track1 {
	max-width: 1020px;
	margin: 0 auto;
}

.track__cabin1 {}

.cabin {
	width: 200px;
	height: 300px;
	background-color: blue;
	border-radius: 150px 20px 0px 20px;
}

.cabin__door {
	width: 130px;
	height: 200px;
	border: 3px solid black;
	position: relative;
	top: 50px;
	left: 60px;
	border-radius: 20px;
}

.cabin__grass {
	width: 110px;
	height: 100px;
	background-color: rgb(129, 197, 241);
	position: relative;
	bottom: 140px;
	left: 70px;
	border-radius: 20px;
	border: 3px solid black;
}

.cabin__open {
	width: 20px;
	height: 10px;
	border: 3px solid black;
	border-bottom: none;
	position: relative;
	bottom: 130px;
	left: 140px;
}

.cabin__wheel {
	
}

.wheel {
	
}

.wheel__black {
	width: 120px;
	height: 120px;
	border-radius: 50%;
	background-color: black;
	position: relative;
	bottom: 50px;
	left: 70px;

}

.wheel__gray {
	width: 90px;
	height: 90px;
	border-radius: 50%;
	background-color: rgb(128, 128, 128);
	position: relative;
	bottom: 155px;
	left: 85px;
}

.wheel__white {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: white;
	position: relative;
	bottom: 220px;
	left: 110px;
}

.cabin__light{
	width: 20px;
	height: 20px;
	background-color: yellow;
	position: relative;
	bottom: 300px;
}

.platform {
	width: 600px;
	height: 50px;
	background-color: blue;
	position: relative;
	left: 199px;
	bottom: 50px;
}

.second__wheel {
	position: relative;
	left: 550px;
	bottom: 40px;
}

.red-car {
	position: relative;
	bottom: 715px;
	left: 400px;
}


